


body{
  background-image: linear-gradient(lightpink,  lightblue)
}



header{
  text-align: center;
  font-family: 'Arvo', serif;
  text-shadow: 3px 3px grey;
  font-size: 30px;






}
img{
  width: 300px;
  height: 100px;
  position: sticky;
  border-style: ridge;
  border-width: thick;

  : 800px;
}

.firstheader{
  color: darkred;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
}

.secondheader{
  color: darkred;
font-family: 'Kanit', sans-serif;
font-size: 20px;

}


.thirdheader{
  color: darkred;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;

}

.fourthheader{
  color: darkred;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;

}

.fifthheader{
  color: darkred;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;

}











.camerap{
  font-family: 'Rokkitt', serif;
  border-style: groove;
  border-width: thick;


}

.iphonep{
  font-family: 'Rokkitt', serif;
  border-style: groove;
border-width: thick;
}

.carsp{
    font-family: 'Rokkitt', serif;
    border-style: groove;
    border-width: thick;

}

.laptopsp{
    font-family: 'Rokkitt', serif;
    border-style: groove;
    border-width: thick;

}

.televisionsp{
    font-family: 'Rokkitt', serif;
    border-style: groove;
    border-width: thick;

}
